:root {
    --dark-bg: #15133C;
    --light-bg: #1A202C;
    --bright-bg: #EC994B;
    --light-accent: #F1EEE9;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    block-size: 100%;
    inline-size: 100%;
}

header {
    display: block;
    background-color: var(--dark-bg);
    color: white;
    padding: 20px;
    margin: auto auto;
    width: 100%;
}

header nav {
    padding-top: 0.7em;
    float: right;
}

header nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    display: inline-flex;
}

header nav ul li a {
    color: var(--light-accent);
    text-decoration: none;
    align-items: center;
    margin: 0 0.25em 0 1em;
    font-size: 1.5rem;
    position: relative;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--light-accent);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out
}

nav ul li a:hover {
    cursor: pointer;
    text-shadow: 0 0 10px var(--light-accent), 0 0 30px var(--light-bg);
}

nav ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

body {
    background-color: var(--light-bg);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section ul {
    list-style-type:square;
    padding-left: 1em;
}

footer {
    padding: 10px 10px 0 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: var(--dark-bg);
    text-align: center;
}

footer p {
    color: var(--light-accent);
    font-size: 20px;
    margin: 0;
}

footer nav {
    display: none;
}

footer nav ul {
    float: right;
    list-style-type: none;
}

footer nav ul li {
    display: inline-flex;
}

footer nav ul li a {
    color: var(--light-accent);
    text-decoration: none;
    align-items: center;
    position: relative;
    font-size: 1.25em;
    margin-left: 2em;
}

.name-logo {
    display: inline-block;
    font-size: 2.5rem;
    cursor: default;
    background-image: linear-gradient(
        -225deg,
        var(--light-bg) 0%,
        #003e6e 3%,
        #a81458 5%,
        #44107a 29%,
        #ff0000 67%,
        #edc512 80%,
        var(--bright-bg) 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: textclip 3.5s linear infinite;
}

.parallax-banner {
    background-image: url("../images/parallax.jpg");
    min-height: 10em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.content-headers {
    position: absolute;
    margin-left: 1%;
    padding: 20px;
    clear: both;
    float: left;
    text-align: right;
    width: 20%;
}

.content-headers h1 {
    font-size: 40px;
    color: var(--light-accent);
}

.main-content {
    position: relative;
    width: 70%;
    display: inline-block;
    margin-left: 20.75%;
    font-size: 20px;
    flex-wrap: wrap;
    color: var(--light-accent);
    border-left: 5px solid var(--bright-bg);
    padding-left: 50px;
}

.main-content img {
    height: 25%;
    width: 49.7%;
    transition: 0.3s;
    filter: blur(3px);
}

.main-content img:hover {
    filter: blur(0px);
}

.highlighted-project img {
    width: 99.8%;
}

#projects img {
    border: 3px solid var(--bright-bg);
}

#contact .content-headers {
    border-right: 5px solid var(--bright-bg);
}

#contact .main-content {
    top: 12px;
    border: none;
}

#contact ul {
    display: inline-flex;
    list-style-type: none;
    flex: 1 0 0;
}

#contact ul li {
    margin-right: 4%;
    position: relative;
}

#contact ul li a {
    color: var(--light-accent);
    text-decoration: none;
    cursor: pointer;
}

#contact ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--light-accent);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out
}

#contact ul li a:hover {
    cursor: pointer;
    text-shadow: 0 0 10px var(--light-accent), 0 0 30px var(--light-bg);
}

#contact ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

@media screen and (max-width: 1323px) {
    .grid img {
        width: 49.5%;
    }
}

@media screen and (max-width: 980px) { /* mobile size move transition to hamburger dropdown */
    nav {
        display: none;
    }

    header {
        text-align: center;
    }

    section ul {
        list-style-type: none;
        padding: 0;
    }

    footer nav {
        display: inline-flex;
    }

    footer p {
        float: left;
        padding-left: 30px;
    }

    footer nav ul {
        margin-left: 6.5rem;
    }

    /* remove divider or make it horizontal, change layout from row to column based */

    .content-headers {
        position: relative;
        justify-content: center;
        float: none;
        text-align: center;
        width: 100%;
        border-bottom: 5px solid var(--bright-bg);
        border-right: none;
    }

    .main-content {
        width: 100%;
        margin: 15px 0 auto;
        text-align: center;
        float: none;
        border: none;
        padding: 0 20px 0 20px;
    }

    .main-content img {
        filter: blur(0px);
    }

    .highlighted-project {
        padding-left: 0;
    }

    .grid {
        padding-left: 0px;
    }

    .grid img {
        width: 100%;
        margin-left: -30px;
    }

    #projects img {
        margin-left: 17px;
    }

    #contact .content-headers {
        border-right: none;
    }

    #contact ul {
        display: inline-block;
        text-align: center;
    }

    #contact ul li {
        margin-right: 0;
    }
}

@media screen and (max-width: 710px) {
    footer {
        position: fixed;
    }
    
    footer p {
        display: none;
    }

    footer nav ul {
        position: relative;
        margin: 0 0 0 0;
    }

    footer nav ul li a {
        position: relative;
        margin: 0 20px 0 20px;
        padding: 0 0px 0 0px;
        text-align: center;
    }
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}